/* header two style */
.headertwo {
color: rgb(238, 208, 208);
font-size: 45px;
font-style: italic;

}

/* paragraph's style */
.pg {
    color: rgb(70, 12, 12);
    width: 500px;
    font-size: 35px;
    text-align: left;
    font-style: oblique;
    margin-left: 300px;
    flex; 1;
}

/* page's main header style */
.mainheader {
    color: rgb(240, 222, 228); 
    font-size: 70px;
    font-style: oblique;
}

/* entire body style */
.body {
    background-color: rgb(197, 144, 154);
            text-align: center;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
}

/* section to be able to display paragraph and image next to each other */
.section {
    display: flex;
    top: 50%;
    left: 50%;
    margin-left: 10%;
}

/* class so all images where the same size */
.image {
    margin-left: 100px;
    height: 350px;
    width: 500px;
}

/* navigation bar */
.nav {
    background: rgb(238, 208, 208);
    width: 750px;;
}

/* takes away any spacing around the nav bar*/
nav ul {
    margin: 0;
    padding: 0;
}

/* seperates the text in nav bar and puts them in a line */
nav li {
    display: inline-block;
    text-align: center;
    margin-left: 60px;
}

/* nav bar's text styling */
nav a {
    text-decoration: none;
    color:  rgb(197, 144, 154);
    font-style: oblique;
    font-size: 30px;
}
/* text changes color in nav bar when the cursor touches it */
nav a:hover {
     color:  rgb(70, 12, 12);
}
